[Unit]
Description=Doorbell listener

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
User=root
EnvironmentFile=/etc/.doorbellconf

ExecStart=/usr/bin/doorbell $SLACK_ARG

Restart=on-failure
RestartSec=5s
 
[Install]
WantedBy=multi-user.target
